/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body * {
  clear: none;
}

@-webkit-keyframes flicker {
  /* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 0;
  }

  /* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 1;
  }
}

@-moz-keyframes flicker {
  /* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 0;
  }

  /* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 1;
  }
}

@-ms-keyframes flicker {
  /* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 0;
  }

  /* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 1;
  }
}

@-o-keyframes flicker {
  /* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 0;
  }

  /* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 1;
  }
}

@keyframes flicker {
  /* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 0;
  }

  /* line 47, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 1;
  }
}

@-webkit-keyframes unflicker {
  /* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 1;
  }

  /* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 0;
  }
}

@-moz-keyframes unflicker {
  /* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 1;
  }

  /* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 0;
  }
}

@-ms-keyframes unflicker {
  /* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 1;
  }

  /* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 0;
  }
}

@-o-keyframes unflicker {
  /* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 1;
  }

  /* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 0;
  }
}

@keyframes unflicker {
  /* line 62, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  0%,
  15%,
  28%,
  38%,
  52%,
  69%,
  74%,
  84%,
  93%,
  100% {
    opacity: 1;
  }

  /* line 74, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
  5%,
  25%,
  30%,
  47%,
  59%,
  71%,
  79%,
  88%,
  97% {
    opacity: 0;
  }
}

/* line 110, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
html, body, #wrap-outer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: "latin-modern-mono", Courier, monospace;
}

/* line 119, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
.dg input {
  line-height: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 125, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 132, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#lightbulb {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 260px;
  width: 260px;
}
/* line 81, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#lightbulb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: no-repeat center 40%;
  background-image: url('../images/light-pair/Logo MinuteLabs - plain (no text).png?1390253777');
  opacity: 0;
}
/* line 94, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#lightbulb:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: no-repeat center 40%;
  background-image: url('../images/light-pair/Logo MinuteLabs - lit up (no text).png?1390253768');
}
/* line 140, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body:not(.dark) #lightbulb:before {
  -webkit-animation: flicker .5s 1 reverse;
  -moz-animation: flicker .5s 1 reverse;
  -ms-animation: flicker .5s 1 reverse;
  -o-animation: flicker .5s 1 reverse;
  animation: flicker .5s 1 reverse;
}
/* line 148, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body:not(.dark) #lightbulb:after {
  -webkit-animation: unflicker .5s 1 reverse;
  -moz-animation: unflicker .5s 1 reverse;
  -ms-animation: unflicker .5s 1 reverse;
  -o-animation: unflicker .5s 1 reverse;
  animation: unflicker .5s 1 reverse;
}

/* line 157, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video {
  position: absolute;
  top: 70px;
  left: 310px;
  width: 640px;
  height: 370px;
}
/* line 165, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div {
  position: absolute;
  width: 60px;
  height: 35px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 2;
}
/* line 173, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(1) {
  width: 46px;
  height: 44px;
  bottom: 10px;
  left: 0;
  background: url('../images/broken/b1.png?1390586103') no-repeat 0 bottom;
}
/* line 180, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(2) {
  width: 40px;
  bottom: 10px;
  left: 46px;
  background: url('../images/broken/b2.png?1390586164') no-repeat 0 bottom;
}
/* line 186, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(3) {
  bottom: 10px;
  left: 86px;
  width: 70px;
  background: url('../images/broken/b3.png?1390586341') no-repeat -5px bottom;
}
/* line 198, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(4),
#video .bulk > div:nth-child(5),
#video .bulk > div:nth-child(6),
#video .bulk > div:nth-child(7),
#video .bulk > div:nth-child(8),
#video .bulk > div:nth-child(9),
#video .bulk > div:nth-child(10) {
  bottom: 10px;
  left: 155px;
  background: url('../images/broken/b4.png?1390243937') no-repeat 0 bottom;
}
/* line 203, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(4) {
  width: 50px;
}
/* line 206, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(5) {
  left: 204px;
}
/* line 209, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(6) {
  left: 263px;
}
/* line 212, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(7) {
  left: 322px;
}
/* line 215, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(8) {
  left: 381px;
}
/* line 218, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(9) {
  left: 440px;
}
/* line 221, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(10) {
  left: 499px;
  width: 19px;
}
/* line 225, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(11) {
  bottom: 10px;
  left: 517px;
  width: 45px;
  background: url('../images/broken/b5.png?1390244096') no-repeat 0 bottom;
  z-index: 3;
}
/* line 232, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(12) {
  width: 45px;
  bottom: 10px;
  left: 562px;
  background: url('../images/broken/b6.png?1390244115') no-repeat 0 bottom;
}
/* line 238, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(13) {
  width: 34px;
  bottom: 10px;
  left: 606px;
  background: url('../images/broken/b7.png?1390244138') no-repeat 0 bottom;
}
/* line 254, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(14),
#video .bulk > div:nth-child(15),
#video .bulk > div:nth-child(16),
#video .bulk > div:nth-child(17),
#video .bulk > div:nth-child(18),
#video .bulk > div:nth-child(19),
#video .bulk > div:nth-child(20),
#video .bulk > div:nth-child(21),
#video .bulk > div:nth-child(22),
#video .bulk > div:nth-child(23),
#video .bulk > div:nth-child(24) {
  top: 0px;
  left: 0px;
  height: 30px;
  width: 56px;
  background: url('../images/broken/t1.png?1390244209') no-repeat 0 0;
}
/* line 261, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(15) {
  left: 56px;
}
/* line 264, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(16) {
  left: 112px;
}
/* line 267, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(17) {
  left: 168px;
}
/* line 270, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(18) {
  left: 224px;
}
/* line 273, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(19) {
  left: 280px;
}
/* line 276, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(20) {
  left: 336px;
}
/* line 279, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(21) {
  left: 392px;
}
/* line 282, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(22) {
  left: 448px;
}
/* line 285, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(23) {
  left: 504px;
}
/* line 288, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(24) {
  left: 560px;
  width: 23px;
}
/* line 292, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video .bulk > div:nth-child(25) {
  top: 0px;
  left: 583px;
  height: 30px;
  width: 57px;
  background: url('../images/broken/t2.png?1390244229') no-repeat 0 0;
}
/* line 302, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div {
  position: absolute;
  top: 0;
  border-left: 1px solid #333;
  height: 25px;
  z-index: 5;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(1) {
  left: 0;
  top: 30px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(2) {
  left: 0;
  top: 55px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(3) {
  left: 0;
  top: 80px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(4) {
  left: 0;
  top: 105px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(5) {
  left: 0;
  top: 130px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(6) {
  left: 0;
  top: 155px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(7) {
  left: 0;
  top: 180px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(8) {
  left: 0;
  top: 205px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(9) {
  left: 0;
  top: 230px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(10) {
  left: 0;
  top: 255px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(11) {
  left: 0;
  top: 280px;
}
/* line 310, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(12) {
  left: 0;
  top: 305px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(13) {
  right: 0;
  top: 30px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(14) {
  right: 0;
  top: 55px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(15) {
  right: 0;
  top: 80px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(16) {
  right: 0;
  top: 105px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(17) {
  right: 0;
  top: 130px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(18) {
  right: 0;
  top: 155px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(19) {
  right: 0;
  top: 180px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(20) {
  right: 0;
  top: 205px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(21) {
  right: 0;
  top: 230px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(22) {
  right: 0;
  top: 255px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(23) {
  right: 0;
  top: 280px;
}
/* line 316, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video > .border div:nth-child(24) {
  right: 0;
  top: 305px;
}
/* line 325, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(1) {
  -webkit-transform: translate(-100px, -300px) rotate(200deg);
  -moz-transform: translate(-100px, -300px) rotate(200deg);
  -ms-transform: translate(-100px, -300px) rotate(200deg);
  -o-transform: translate(-100px, -300px) rotate(200deg);
  transform: translate(-100px, -300px) rotate(200deg);
}
/* line 328, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(2) {
  -webkit-transform: translate(-50px, -30px) rotate(-20deg);
  -moz-transform: translate(-50px, -30px) rotate(-20deg);
  -ms-transform: translate(-50px, -30px) rotate(-20deg);
  -o-transform: translate(-50px, -30px) rotate(-20deg);
  transform: translate(-50px, -30px) rotate(-20deg);
}
/* line 331, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(3) {
  -webkit-transform: translate(60px, 20px) rotate(80deg);
  -moz-transform: translate(60px, 20px) rotate(80deg);
  -ms-transform: translate(60px, 20px) rotate(80deg);
  -o-transform: translate(60px, 20px) rotate(80deg);
  transform: translate(60px, 20px) rotate(80deg);
}
/* line 334, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(4) {
  -webkit-transform: translate(-430px, -190px) rotate(-30deg);
  -moz-transform: translate(-430px, -190px) rotate(-30deg);
  -ms-transform: translate(-430px, -190px) rotate(-30deg);
  -o-transform: translate(-430px, -190px) rotate(-30deg);
  transform: translate(-430px, -190px) rotate(-30deg);
}
/* line 337, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(5) {
  -webkit-transform: translate(300px, -120px) rotate(160deg);
  -moz-transform: translate(300px, -120px) rotate(160deg);
  -ms-transform: translate(300px, -120px) rotate(160deg);
  -o-transform: translate(300px, -120px) rotate(160deg);
  transform: translate(300px, -120px) rotate(160deg);
}
/* line 340, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(6) {
  -webkit-transform: translate(400px, 20px) rotate(-70deg);
  -moz-transform: translate(400px, 20px) rotate(-70deg);
  -ms-transform: translate(400px, 20px) rotate(-70deg);
  -o-transform: translate(400px, 20px) rotate(-70deg);
  transform: translate(400px, 20px) rotate(-70deg);
}
/* line 343, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(7) {
  -webkit-transform: translate(10px, -20px) rotate(-200deg);
  -moz-transform: translate(10px, -20px) rotate(-200deg);
  -ms-transform: translate(10px, -20px) rotate(-200deg);
  -o-transform: translate(10px, -20px) rotate(-200deg);
  transform: translate(10px, -20px) rotate(-200deg);
}
/* line 346, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(8) {
  -webkit-transform: translate(-121px, 140px) rotate(400deg);
  -moz-transform: translate(-121px, 140px) rotate(400deg);
  -ms-transform: translate(-121px, 140px) rotate(400deg);
  -o-transform: translate(-121px, 140px) rotate(400deg);
  transform: translate(-121px, 140px) rotate(400deg);
}
/* line 349, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(9) {
  -webkit-transform: translate(-130px, -350px) rotate(-30deg);
  -moz-transform: translate(-130px, -350px) rotate(-30deg);
  -ms-transform: translate(-130px, -350px) rotate(-30deg);
  -o-transform: translate(-130px, -350px) rotate(-30deg);
  transform: translate(-130px, -350px) rotate(-30deg);
}
/* line 352, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(10) {
  -webkit-transform: translate(-110px, 50px) rotate(20deg);
  -moz-transform: translate(-110px, 50px) rotate(20deg);
  -ms-transform: translate(-110px, 50px) rotate(20deg);
  -o-transform: translate(-110px, 50px) rotate(20deg);
  transform: translate(-110px, 50px) rotate(20deg);
}
/* line 355, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(11) {
  -webkit-transform: translate(-40px, 20px) rotate(-450deg);
  -moz-transform: translate(-40px, 20px) rotate(-450deg);
  -ms-transform: translate(-40px, 20px) rotate(-450deg);
  -o-transform: translate(-40px, 20px) rotate(-450deg);
  transform: translate(-40px, 20px) rotate(-450deg);
}
/* line 358, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(12) {
  -webkit-transform: translate(80px, -20px) rotate(20deg);
  -moz-transform: translate(80px, -20px) rotate(20deg);
  -ms-transform: translate(80px, -20px) rotate(20deg);
  -o-transform: translate(80px, -20px) rotate(20deg);
  transform: translate(80px, -20px) rotate(20deg);
}
/* line 361, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(13) {
  -webkit-transform: translate(-10px, -100px) rotate(200deg);
  -moz-transform: translate(-10px, -100px) rotate(200deg);
  -ms-transform: translate(-10px, -100px) rotate(200deg);
  -o-transform: translate(-10px, -100px) rotate(200deg);
  transform: translate(-10px, -100px) rotate(200deg);
}
/* line 364, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(14) {
  -webkit-transform: translate(70px, 220px) rotate(-300deg);
  -moz-transform: translate(70px, 220px) rotate(-300deg);
  -ms-transform: translate(70px, 220px) rotate(-300deg);
  -o-transform: translate(70px, 220px) rotate(-300deg);
  transform: translate(70px, 220px) rotate(-300deg);
}
/* line 367, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(15) {
  -webkit-transform: translate(90px, 20px) rotate(436deg);
  -moz-transform: translate(90px, 20px) rotate(436deg);
  -ms-transform: translate(90px, 20px) rotate(436deg);
  -o-transform: translate(90px, 20px) rotate(436deg);
  transform: translate(90px, 20px) rotate(436deg);
}
/* line 370, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(16) {
  -webkit-transform: translate(-324px, 357px) rotate(23deg);
  -moz-transform: translate(-324px, 357px) rotate(23deg);
  -ms-transform: translate(-324px, 357px) rotate(23deg);
  -o-transform: translate(-324px, 357px) rotate(23deg);
  transform: translate(-324px, 357px) rotate(23deg);
}
/* line 373, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(17) {
  -webkit-transform: translate(-397px, -10px) rotate(-187deg);
  -moz-transform: translate(-397px, -10px) rotate(-187deg);
  -ms-transform: translate(-397px, -10px) rotate(-187deg);
  -o-transform: translate(-397px, -10px) rotate(-187deg);
  transform: translate(-397px, -10px) rotate(-187deg);
}
/* line 376, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(18) {
  -webkit-transform: translate(245px, 27px) rotate(734deg);
  -moz-transform: translate(245px, 27px) rotate(734deg);
  -ms-transform: translate(245px, 27px) rotate(734deg);
  -o-transform: translate(245px, 27px) rotate(734deg);
  transform: translate(245px, 27px) rotate(734deg);
}
/* line 379, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(19) {
  -webkit-transform: translate(494px, 238px) rotate(-457deg);
  -moz-transform: translate(494px, 238px) rotate(-457deg);
  -ms-transform: translate(494px, 238px) rotate(-457deg);
  -o-transform: translate(494px, 238px) rotate(-457deg);
  transform: translate(494px, 238px) rotate(-457deg);
}
/* line 382, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(20) {
  -webkit-transform: translate(404px, 508px) rotate(-7deg);
  -moz-transform: translate(404px, 508px) rotate(-7deg);
  -ms-transform: translate(404px, 508px) rotate(-7deg);
  -o-transform: translate(404px, 508px) rotate(-7deg);
  transform: translate(404px, 508px) rotate(-7deg);
}
/* line 385, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(21) {
  -webkit-transform: translate(417px, 380px) rotate(38deg);
  -moz-transform: translate(417px, 380px) rotate(38deg);
  -ms-transform: translate(417px, 380px) rotate(38deg);
  -o-transform: translate(417px, 380px) rotate(38deg);
  transform: translate(417px, 380px) rotate(38deg);
}
/* line 388, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(21) {
  -webkit-transform: translate(557px, 300px) rotate(38deg);
  -moz-transform: translate(557px, 300px) rotate(38deg);
  -ms-transform: translate(557px, 300px) rotate(38deg);
  -o-transform: translate(557px, 300px) rotate(38deg);
  transform: translate(557px, 300px) rotate(38deg);
}
/* line 391, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(22) {
  -webkit-transform: translate(407px, 294px) rotate(92deg);
  -moz-transform: translate(407px, 294px) rotate(92deg);
  -ms-transform: translate(407px, 294px) rotate(92deg);
  -o-transform: translate(407px, 294px) rotate(92deg);
  transform: translate(407px, 294px) rotate(92deg);
}
/* line 394, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(23) {
  -webkit-transform: translate(23px, -32px) rotate(-32deg);
  -moz-transform: translate(23px, -32px) rotate(-32deg);
  -ms-transform: translate(23px, -32px) rotate(-32deg);
  -o-transform: translate(23px, -32px) rotate(-32deg);
  transform: translate(23px, -32px) rotate(-32deg);
}
/* line 397, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(24) {
  -webkit-transform: translate(-603px, 206px) rotate(20deg);
  -moz-transform: translate(-603px, 206px) rotate(20deg);
  -ms-transform: translate(-603px, 206px) rotate(20deg);
  -o-transform: translate(-603px, 206px) rotate(20deg);
  transform: translate(-603px, 206px) rotate(20deg);
}
/* line 400, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video.broken .bulk > div:nth-child(25) {
  -webkit-transform: translate(52px, 20px) rotate(-20deg);
  -moz-transform: translate(52px, 20px) rotate(-20deg);
  -ms-transform: translate(52px, 20px) rotate(-20deg);
  -o-transform: translate(52px, 20px) rotate(-20deg);
  transform: translate(52px, 20px) rotate(-20deg);
}
/* line 406, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video #horse {
  position: absolute;
  top: 125px;
  left: 2px;
  height: 75px;
  overflow: hidden;
  width: 635px;
  z-index: 10;
}
/* line 415, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video #horse > .wrap {
  position: relative;
  right: 80px;
  width: 1400px;
}
/* line 421, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video #horse img {
  display: block;
  clear: none;
  float: left;
  width: 100px;
  -webkit-transition: -webkit-transform 0.5s linear;
  -moz-transition: -moz-transform 0.5s linear;
  -o-transition: -o-transform 0.5s linear;
  transition: transform 0.5s linear;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
/* line 430, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#video #horse img.on {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

/* line 437, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#real-video {
  position: absolute;
  top: 310px;
  left: -11px;
  z-index: 4;
}

/* line 445, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#light-switch-viewport {
  position: absolute;
  top: 260px;
  right: 0px;
  z-index: 10;
}
/* line 451, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#light-switch-viewport .pjs-circle {
  background: gray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 457, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#screen {
  position: absolute;
  width: 100%;
  height: 500px;
  bottom: 0;
  font-size: 30px;
  line-height: 1.3;
}

/* line 466, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#msg {
  position: relative;
  z-index: 1;
  text-align: center;
  display: block;
  margin: 2.5em;
  font-size: 2.4em;
}

/* line 475, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  max-width: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: #1a1a1a;
}
/* line 487, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox, #sandbox > * {
  font-family: "latin-modern-mono-light", Courier, monospace;
}
/* line 491, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox textarea {
  height: auto;
  max-width: none;
  background: #1a1a1a;
}
/* line 497, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output {
  height: 150px;
}
/* line 500, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span {
  color: #ededed;
}
/* line 501, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.command {
  color: gainsboro;
}
/* line 502, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.prefix {
  color: #626262;
}
/* line 503, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.undefined {
  color: #626262;
}
/* line 504, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.string {
  color: #e4d42c;
}
/* line 505, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.number {
  color: #79e500;
}
/* line 506, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
#sandbox pre.output span.error {
  color: #e93f33;
}

/* line 511, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body,
#msg {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 514, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body.dark {
  background: #1a1a1a;
  color: #ededed;
  font-family: "latin-modern-mono-light", Courier, monospace;
}
/* line 520, /Users/wellcaffeinated/Documents/github/minutelabs/Hello Universe/library/styles/site.scss */
body.dark #lightbulb,
body.dark #video {
  display: none;
}
