// site styles
@import 'compass/css3';
@import '_vars';

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@include keyframes( flicker ) {
    0%,
    15%,
    28%,
    38%,
    52%,
    69%,
    74%,
    84%,
    93%,
    100% {
        opacity: 0;
    }
    5%,
    25%,
    30%,
    47%,
    59%,
    71%,
    79%,
    88%,
    97% { 
        opacity: 1;
    }
}
@include keyframes( unflicker ) {
    
    0%,
    15%,
    28%,
    38%,
    52%,
    69%,
    74%,
    84%,
    93%,
    100% {
        opacity: 1;
    }

    5%,
    25%,
    30%,
    47%,
    59%,
    71%,
    79%,
    88%,
    97% { 
        opacity: 0;
    }
}

@mixin light-bulb(){

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: no-repeat center 40%;
        background-image: image-url('light-pair/Logo MinuteLabs - plain (no text).png');
        opacity: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: no-repeat center 40%;
        background-image: image-url('light-pair/Logo MinuteLabs - lit up (no text).png');
        
    }

    
}

html, body, #wrap-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: $font-family-mono;
}

#lightbulb {
    @include light-bulb();
    position: absolute;
    top: 10px;
    right: 10px;
    height: 260px;
    width: 260px;

    body:not(.dark) &:before {
        -webkit-animation: flicker .5s 1 reverse;
           -moz-animation: flicker .5s 1 reverse;
            -ms-animation: flicker .5s 1 reverse;
             -o-animation: flicker .5s 1 reverse;
                animation: flicker .5s 1 reverse;
    }

    body:not(.dark) &:after {
        -webkit-animation: unflicker .5s 1 reverse;
           -moz-animation: unflicker .5s 1 reverse;
            -ms-animation: unflicker .5s 1 reverse;
             -o-animation: unflicker .5s 1 reverse;
                animation: unflicker .5s 1 reverse;
    }    
}

#video {
    position: absolute;
    top: 70px;
    left: 310px;
    width: 640px;
    height: 370px;

    > div {
        position: absolute;
        width: 60px;
        height: 44px;
        @include transition( all 1s ease );
    }

    > div:nth-child(1) {
        bottom: 10px;
        left: 0;
        background: image-url('broken/b1.png') no-repeat 0 0;
    }
    > div:nth-child(2) {
        bottom: 10px;
        left: 46px;
        background: image-url('broken/b2.png') no-repeat 0 0;
    }
    > div:nth-child(3) {
        bottom: 10px;
        left: 86px;
        background: image-url('broken/b3.png') no-repeat 0 0;
    }
    > div:nth-child(4),
    > div:nth-child(5),
    > div:nth-child(6),
    > div:nth-child(7),
    > div:nth-child(8),
    > div:nth-child(9),
    > div:nth-child(10) {
        bottom: 10px;
        left: 145px;
        background: image-url('broken/b4.png') no-repeat 0 0;
    }
    > div:nth-child(5) {
        left: 204px;
    }
    > div:nth-child(6) {
        left: 263px;
    }
    > div:nth-child(7) {
        left: 322px;
    }
    > div:nth-child(8) {
        left: 381px;
    }
    > div:nth-child(9) {
        left: 440px;
    }
    > div:nth-child(10) {
        left: 480px;
    }
    > div:nth-child(11) {
        bottom: 10px;
        left: 516px;
        background: image-url('broken/b5.png') no-repeat 0 0;
        z-index: 1;
    }
    > div:nth-child(12) {
        bottom: 8px;
        left: 561px;
        background: image-url('broken/b6.png') no-repeat 0 0;
    }
    > div:nth-child(13) {
        bottom: 10px;
        left: 605px;
        background: image-url('broken/b7.png') no-repeat 0 0;
    }
    > div:nth-child(14),
    > div:nth-child(15),
    > div:nth-child(16),
    > div:nth-child(17),
    > div:nth-child(18),
    > div:nth-child(19),
    > div:nth-child(20),
    > div:nth-child(21),
    > div:nth-child(22),
    > div:nth-child(23),
    > div:nth-child(24) {
        top: 0px;
        left: 0px;
        background: image-url('broken/t1.png') no-repeat 0 0;
    }
    > div:nth-child(15) {
        left: 56px;
    }
    > div:nth-child(16) {
        left: 112px;
    }
    > div:nth-child(17) {
        left: 168px;
    }
    > div:nth-child(18) {
        left: 224px;
    }
    > div:nth-child(19) {
        left: 280px;
    }
    > div:nth-child(20) {
        left: 336px;
    }
    > div:nth-child(21) {
        left: 392px;
    }
    > div:nth-child(22) {
        left: 448px;
    }
    > div:nth-child(23) {
        left: 504px;
    }
    > div:nth-child(24) {
        left: 526px;
    }
    > div:nth-child(25) {
        top: 0px;
        left: 582px;
        background: image-url('broken/t2.png') no-repeat 0 0;
    }

    &.broken { 
        > div:nth-child(1) {
            @include transform(translate(-100px, -300px) rotate(200deg));
        }
        > div:nth-child(2) {
            @include transform(translate(-50px, -30px) rotate(-20deg));
        }
        > div:nth-child(3) {
            @include transform(translate(60px, 20px) rotate(80deg));
        }
        > div:nth-child(4) {
            @include transform(translate(-430px, -190px) rotate(-30deg));
        }
        > div:nth-child(5) {
            @include transform(translate(300px, -120px) rotate(160deg));
        }
        > div:nth-child(6) {
            @include transform(translate(400px, 20px) rotate(-70deg));
        }
        > div:nth-child(7) {
            @include transform(translate(10px, -20px) rotate(-200deg));
        }
        > div:nth-child(8) {
            @include transform(translate(-121px, 140px) rotate(400deg));
        }
        > div:nth-child(9) {
            @include transform(translate(-20px, -300px) rotate(-100deg));
        }
        > div:nth-child(10) {
            @include transform(translate(-30px, 50px) rotate(20deg));
        }
        > div:nth-child(11) {
            @include transform(translate(-40px, 20px) rotate(-450deg));
        }
        > div:nth-child(12) {
            @include transform(translate(80px, -20px) rotate(20deg));
        }
        > div:nth-child(13) {
            @include transform(translate(-10px, -100px) rotate(200deg));
        }
        > div:nth-child(14) {
            @include transform(translate(70px, 220px) rotate(-300deg));
        }
        > div:nth-child(15) {
            @include transform(translate(90px, 20px) rotate(436deg));
        }
        > div:nth-child(16) {
            @include transform(translate(-324px, 357px) rotate(23deg));
        }
        > div:nth-child(17) {
            @include transform(translate(-397px, -70px) rotate(-187deg));
        }
        > div:nth-child(18) {
            @include transform(translate(245px, 27px) rotate(734deg));
        }
        > div:nth-child(19) {
            @include transform(translate(374px, -238px) rotate(-457deg));
        }
        > div:nth-child(20) {
            @include transform(translate(404px, 508px) rotate(-7deg));
        }
        > div:nth-child(21) {
            @include transform(translate(42px, 93px) rotate(9deg));
        }
        > div:nth-child(21) {
            @include transform(translate(557px, 300px) rotate(38deg));
        }
        > div:nth-child(22) {
            @include transform(translate(407px, 294px) rotate(92deg));
        }
        > div:nth-child(23) {
            @include transform(translate(23px, -32px) rotate(-32deg));
        }
        > div:nth-child(24) {
            @include transform(translate(-603px, 206px) rotate(20deg));
        }
        > div:nth-child(25) {
            @include transform(translate(52px, 20px) rotate(-20deg));
        }
    }
}

#light-switch-viewport {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: 10;

    .pjs-circle {
        background: rgb(128, 128, 128);
        @include border-radius( 50% );
    }
}

#screen {
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    font-size: 30px;
    line-height: 1.3;
}

#msg {
    text-align: center;
    display: block;
    margin: 2.5em;
    font-size: 2.4em;
}

#sandbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    max-width: none;
    @include box-sizing( border-box );
    @include border-radius( 0 );
    background: $deep-grey-dark;

    &,
    & > * {
        font-family: $font-family-mono-light;
    }

    textarea {
        height: auto;
        max-width: none;
        background: $deep-grey-dark;
    }

    pre.output {
        height: 150px;

        span           { color:$grey-light; }
        span.command   { color:$grey; }
        span.prefix    { color:$deep-grey-light; }
        span.undefined { color:$deep-grey-light; }
        span.string    { color:$yellow; }
        span.number    { color:$green; }
        span.error     { color:$red; }
    }
}

body,
#msg {
    @include transition( all 0.2s linear );
}
body.dark {
    background: $deep-grey-dark;
    color: $grey-light;
    font-family: $font-family-mono-light;

    #lightbulb,
    #video {
        display: none;
    }
}


