// site styles
@import 'compass/css3';
@import '_vars';

body * {
    clear: none;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-ms-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@include keyframes( flicker ) {
    0%,
    15%,
    28%,
    38%,
    52%,
    69%,
    74%,
    84%,
    93%,
    100% {
        opacity: 0;
    }
    5%,
    25%,
    30%,
    47%,
    59%,
    71%,
    79%,
    88%,
    97% { 
        opacity: 1;
    }
}
@include keyframes( unflicker ) {
    
    0%,
    15%,
    28%,
    38%,
    52%,
    69%,
    74%,
    84%,
    93%,
    100% {
        opacity: 1;
    }

    5%,
    25%,
    30%,
    47%,
    59%,
    71%,
    79%,
    88%,
    97% { 
        opacity: 0;
    }
}

@mixin light-bulb(){

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: no-repeat center 40%;
        background-image: image-url('light-pair/Logo MinuteLabs - plain (no text).png');
        opacity: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        background: no-repeat center 40%;
        background-image: image-url('light-pair/Logo MinuteLabs - lit up (no text).png');
        
    }

    
}

html, body, #wrap-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: $font-family-mono;
}

.dg {
    input {
        line-height: 1;
        @include border-radius( 0 );
    }
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#lightbulb {
    @include light-bulb();
    position: absolute;
    top: 10px;
    right: 10px;
    height: 260px;
    width: 260px;

    body:not(.dark) &:before {
        -webkit-animation: flicker .5s 1 reverse;
           -moz-animation: flicker .5s 1 reverse;
            -ms-animation: flicker .5s 1 reverse;
             -o-animation: flicker .5s 1 reverse;
                animation: flicker .5s 1 reverse;
    }

    body:not(.dark) &:after {
        -webkit-animation: unflicker .5s 1 reverse;
           -moz-animation: unflicker .5s 1 reverse;
            -ms-animation: unflicker .5s 1 reverse;
             -o-animation: unflicker .5s 1 reverse;
                animation: unflicker .5s 1 reverse;
    }    
}

#video {
    position: absolute;
    top: 70px;
    left: 310px;
    width: 640px;
    height: 370px;

    .bulk {
        > div {
            position: absolute;
            width: 60px;
            height: 35px;
            @include transition( all 1s ease );
            z-index: 2;
        }

        > div:nth-child(1) {
            width: 46px;
            height: 44px;
            bottom: 10px;
            left: 0;
            background: image-url('broken/b1.png') no-repeat 0 bottom;
        }
        > div:nth-child(2) {
            width: 40px;
            bottom: 10px;
            left: 46px;
            background: image-url('broken/b2.png') no-repeat 0 bottom;
        }
        > div:nth-child(3) {
            bottom: 10px;
            left: 86px;
            width: 70px;
            background: image-url('broken/b3.png') no-repeat -5px bottom;
        }
        > div:nth-child(4),
        > div:nth-child(5),
        > div:nth-child(6),
        > div:nth-child(7),
        > div:nth-child(8),
        > div:nth-child(9),
        > div:nth-child(10) {
            bottom: 10px;
            left: 155px;
            background: image-url('broken/b4.png') no-repeat 0 bottom;
        }
        > div:nth-child(4) {
            width: 50px;
        }
        > div:nth-child(5) {
            left: 204px;
        }
        > div:nth-child(6) {
            left: 263px;
        }
        > div:nth-child(7) {
            left: 322px;
        }
        > div:nth-child(8) {
            left: 381px;
        }
        > div:nth-child(9) {
            left: 440px;
        }
        > div:nth-child(10) {
            left: 499px;
            width: 19px;
        }
        > div:nth-child(11) {
            bottom: 10px;
            left: 517px;
            width: 45px;
            background: image-url('broken/b5.png') no-repeat 0 bottom;
            z-index: 3;
        }
        > div:nth-child(12) {
            width: 45px;
            bottom: 10px;
            left: 562px;
            background: image-url('broken/b6.png') no-repeat 0 bottom;
        }
        > div:nth-child(13) {
            width: 34px;
            bottom: 10px;
            left: 606px;
            background: image-url('broken/b7.png') no-repeat 0 bottom;
        }
        > div:nth-child(14),
        > div:nth-child(15),
        > div:nth-child(16),
        > div:nth-child(17),
        > div:nth-child(18),
        > div:nth-child(19),
        > div:nth-child(20),
        > div:nth-child(21),
        > div:nth-child(22),
        > div:nth-child(23),
        > div:nth-child(24) {
            top: 0px;
            left: 0px;
            height: 30px;
            width: 56px;
            background: image-url('broken/t1.png') no-repeat 0 0;
        }
        > div:nth-child(15) {
            left: 56px;
        }
        > div:nth-child(16) {
            left: 112px;
        }
        > div:nth-child(17) {
            left: 168px;
        }
        > div:nth-child(18) {
            left: 224px;
        }
        > div:nth-child(19) {
            left: 280px;
        }
        > div:nth-child(20) {
            left: 336px;
        }
        > div:nth-child(21) {
            left: 392px;
        }
        > div:nth-child(22) {
            left: 448px;
        }
        > div:nth-child(23) {
            left: 504px;
        }
        > div:nth-child(24) {
            left: 560px;
            width: 23px;
        }
        > div:nth-child(25) {
            top: 0px;
            left: 583px;
            height: 30px;
            width: 57px;
            background: image-url('broken/t2.png') no-repeat 0 0;
        }
    }

    > .border {
        div {
            position: absolute;
            top: 0;
            border-left: 1px solid #333;
            height: 25px;
            z-index: 5;
        }
        @for $i from 1 to 13 {
            div:nth-child(#{$i}){
                left: 0;
                top: 25px * $i + 5px;
            }
        }
        @for $i from 13 to 25 {
            div:nth-child(#{$i}){
                right: 0;
                top: 25px * ($i - 12) + 5px;
            }
        }
    }

    &.broken {
        .bulk {
            > div:nth-child(1) {
                @include transform(translate(-100px, -300px) rotate(200deg));
            }
            > div:nth-child(2) {
                @include transform(translate(-50px, -30px) rotate(-20deg));
            }
            > div:nth-child(3) {
                @include transform(translate(60px, 20px) rotate(80deg));
            }
            > div:nth-child(4) {
                @include transform(translate(-430px, -190px) rotate(-30deg));
            }
            > div:nth-child(5) {
                @include transform(translate(300px, -120px) rotate(160deg));
            }
            > div:nth-child(6) {
                @include transform(translate(400px, 20px) rotate(-70deg));
            }
            > div:nth-child(7) {
                @include transform(translate(10px, -20px) rotate(-200deg));
            }
            > div:nth-child(8) {
                @include transform(translate(-121px, 140px) rotate(400deg));
            }
            > div:nth-child(9) {
                @include transform(translate(-130px, -350px) rotate(-30deg));
            }
            > div:nth-child(10) {
                @include transform(translate(-110px, 50px) rotate(20deg));
            }
            > div:nth-child(11) {
                @include transform(translate(-40px, 20px) rotate(-450deg));
            }
            > div:nth-child(12) {
                @include transform(translate(80px, -20px) rotate(20deg));
            }
            > div:nth-child(13) {
                @include transform(translate(-10px, -100px) rotate(200deg));
            }
            > div:nth-child(14) {
                @include transform(translate(70px, 220px) rotate(-300deg));
            }
            > div:nth-child(15) {
                @include transform(translate(90px, 20px) rotate(436deg));
            }
            > div:nth-child(16) {
                @include transform(translate(-324px, 357px) rotate(23deg));
            }
            > div:nth-child(17) {
                @include transform(translate(-397px, -10px) rotate(-187deg));
            }
            > div:nth-child(18) {
                @include transform(translate(245px, 27px) rotate(734deg));
            }
            > div:nth-child(19) {
                @include transform(translate(494px, 238px) rotate(-457deg));
            }
            > div:nth-child(20) {
                @include transform(translate(404px, 508px) rotate(-7deg));
            }
            > div:nth-child(21) {
                @include transform(translate(417px, 380px) rotate(38deg));
            }
            > div:nth-child(21) {
                @include transform(translate(557px, 300px) rotate(38deg));
            }
            > div:nth-child(22) {
                @include transform(translate(407px, 294px) rotate(92deg));
            }
            > div:nth-child(23) {
                @include transform(translate(23px, -32px) rotate(-32deg));
            }
            > div:nth-child(24) {
                @include transform(translate(-603px, 206px) rotate(20deg));
            }
            > div:nth-child(25) {
                @include transform(translate(52px, 20px) rotate(-20deg));
            }
        }
    }

    #horse {
        position: absolute;
        top: 125px;
        left: 2px;
        height: 75px;
        overflow: hidden;
        width: 635px;
        z-index: 10;

        > .wrap {
            position: relative;
            right: 80px;
            width: 1400px;
        }

        img {
            display: block;
            clear: none;
            float: left;
            width: 100px;
            @include transition(transform 0.5s linear);
            @include transform(rotateX(90deg));
            @include transform-origin(50%, 0);

            &.on {
                @include transform(rotateX(0deg));                
            }
        }
    }
}

#real-video {
    position: absolute;
    top: 310px;
    left: -11px;
    z-index: 4;

}

#light-switch-viewport {
    position: absolute;
    top: 260px;
    right: 0px;
    z-index: 10;

    .pjs-circle {
        background: rgb(128, 128, 128);
        @include border-radius( 50% );
    }
}

#screen {
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    font-size: 30px;
    line-height: 1.3;
}

#msg {
    position: relative;
    z-index: 1;
    text-align: center;
    display: block;
    margin: 2.5em;
    font-size: 2.4em;
}

#sandbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0;
    max-width: none;
    @include box-sizing( border-box );
    @include border-radius( 0 );
    background: $deep-grey-dark;

    &,
    & > * {
        font-family: $font-family-mono-light;
    }

    textarea {
        height: auto;
        max-width: none;
        background: $deep-grey-dark;
    }

    pre.output {
        height: 150px;

        span           { color:$grey-light; }
        span.command   { color:$grey; }
        span.prefix    { color:$deep-grey-light; }
        span.undefined { color:$deep-grey-light; }
        span.string    { color:$yellow; }
        span.number    { color:$green; }
        span.error     { color:$red; }
    }
}

body,
#msg {
    @include transition( all 0.2s linear );
}
body.dark {
    background: $deep-grey-dark;
    color: $grey-light;
    font-family: $font-family-mono-light;

    #lightbulb,
    #video {
        display: none;
    }
}


